HELP.md
#target/
#.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**/target/
#!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Maven
target/
*.jar
*.war
*.nar
*.ear
*.class



# Logs
*.log

# Environnement
.env
*.env
application-local.yml
application-secret.yml
#src/main/resources/application.yml
# Dossiers temporaires
uploads/
.DS_Store
Thumbs.db