<!DOCTYPE html>
<html lang="fr">
<head th:replace="~{fragments/head :: head(title='Cours grammaire A1')}"></head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container mt-5 flex-grow-1">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-4">Bienvenue dans le cours de Grammaire A1 !</h1>

        <button
                type="button"
                class="btn btn-outline-secondary float-end"
                onclick="history.back()" aria-label="Retour à la page précédente">
            <i class="bi bi-arrow-left" aria-hidden="true"></i> Retour
        </button>
    </div>
    <p class="lead">Parcourez les leçons une par une :</p>

    <nav aria-label="Liste des leçons de grammaire">
        <div class="list-group">
            <a th:href="@{/articlesDéfinis}" class="list-group-item list-group-item-action">1. Les articles définis,
                indéfinis et partitifs</a>
            <a th:href="@{/genreEtNombreDesNoms}" class="list-group-item list-group-item-action">2. Genre et nombre des
                noms</a>
            <a th:href="@{/adjectifsQualificatifs}" class="list-group-item list-group-item-action">3. Adjectifs
                qualificatifs</a>
            <a th:href="@{/PronomsPersonnelsSujets}" class="list-group-item list-group-item-action">4. Pronoms
                personnels sujets</a>
            <a th:href="@{/verbesAuPresent}" class="list-group-item list-group-item-action">5. Verbes au présent</a>
            <a th:href="@{/NegationSimple}" class="list-group-item list-group-item-action">6. Négation simple</a>
            <a th:href="@{/questionsSimples}" class="list-group-item list-group-item-action">7. Questions simples</a>
            <a th:href="@{/PropositionsDeLieuEtTemps}" class="list-group-item list-group-item-action">8. Prépositions de
                lieu et temps</a>
            <a th:href="@{/pronomsPossessifsEtDemonstratifs}" class="list-group-item list-group-item-action">9. Pronoms
                possessifs et démonstratifs</a>
        </div>
    </nav>
</main>

<div th:replace="~{fragments/back-to-top :: backToTop}"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/au-bureau.js}"></script>
</body>
</html>