<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Prononciation')}"></head>
<body class="container">
<div th:replace="~{fragments/navbar :: navbar}"></div>
<br>
<button
        type="button"
        class="btn btn-outline-secondary float-end"
        onclick="history.back()">
    <i class="bi bi-arrow-left"></i> Retour
</button>

  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
     <div class="card h-100">
         <div class="card-header bg-primary text-white">
            <h5 class="card-title">ô = au = eau</h5>
         </div>
         <div class="card-body">

            <p class="card-text">Exemple :<br>Un drapeau : Un drap<i style="color:green">eau<br></i>
                Il est drôle : Il est dr<i style="color:red">ô</i>le<br>
                Une faute : Une f<i style="color:green">au</i>te<br>
            </p>
          <div class="d-flex align-items-center gap-3 mt-3">
            <button class="btn btn-primary btn-play"
               style="width: 50px; height: 50px; border-radius: 50%;">
               <i class="bi bi-play-fill fs-3"></i>
            </button>

            <audio class="d-none">
              <source src="/uploads/audio/o-au-eau.mp3" type="audio/mpeg"/>
            </audio>

              <small class="text-muted">Écouter la prononciation</small>
          </div>
        </div>
     </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">al ,il ,ol ,ul</h5>
            </div>
            <div class="card-body">

                <p class="card-text">Exemple :<br> calcul : calc<i style="color:red">ul</i><br>
                    animal : anim<i style="color:red">al</i><br>
                </p>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-primary btn-play"
                            style="width: 50px; height: 50px; border-radius: 50%;">
                        <i class="bi bi-play-fill fs-3"></i>
                    </button>

                    <audio class="d-none">
                        <source src="/uploads/audio/al_ul.mp3" type="audio/mpeg"/>
                    </audio>

                    <small class="text-muted">Écouter la prononciation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title"> br ,dr</h5>
            </div>
            <div class="card-body">

                <p class="card-text">Exemple :<br> bravoure : <i style="color:red">br</i>avoure<br>
                    droite : <i style="color:red">dr</i>oite
                </p>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-primary btn-play"
                            style="width: 50px; height: 50px; border-radius: 50%;">
                        <i class="bi bi-play-fill fs-3"></i>
                    </button>

                    <audio class="d-none">
                        <source src="/uploads/audio/br_dr.mp3" type="audio/mpeg"/>
                    </audio>

                    <small class="text-muted">Écouter la prononciation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">Ch: cha , chi ,cho </h5>
            </div>
            <div class="card-body">

                <p class="card-text">Exemple :<br> La vache : La va<i style="color:red">che</i><br>
                    déchiré : dé<i style="color:red">chi</i>ré
                </p>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-primary btn-play"
                            style="width: 50px; height: 50px; border-radius: 50%;">
                        <i class="bi bi-play-fill fs-3"></i>
                    </button>

                    <audio class="d-none">
                        <source src="/uploads/audio/cha_chi.mp3" type="audio/mpeg"/>
                    </audio>

                    <small class="text-muted">Écouter la prononciation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">in</h5>
            </div>
            <div class="card-body">

                <p class="card-text">Exemple :<br> Le sapin : Le sap<i style="color:red">in</i><br>
                    Le moulin : Le moul<i style="color:red">in</i>
                </p>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-primary btn-play"
                            style="width: 50px; height: 50px; border-radius: 50%;">
                        <i class="bi bi-play-fill fs-3"></i>
                    </button>

                    <audio class="d-none">
                        <source src="/uploads/audio/in.mp3" type="audio/mpeg"/>
                    </audio>

                    <small class="text-muted">Écouter la prononciation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">ou</h5>
            </div>
            <div class="card-body">

                <p class="card-text">Exemple :<br> bouche : b<i style="color:red">ou</i>che<br>
                    couture : c<i style="color:red">ou</i>ture
                </p>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-primary btn-play"
                            style="width: 50px; height: 50px; border-radius: 50%;">
                        <i class="bi bi-play-fill fs-3"></i>
                    </button>

                    <audio class="d-none">
                        <source src="/uploads/audio/ou.mp3" type="audio/mpeg"/>
                    </audio>

                    <small class="text-muted">Écouter la prononciation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">on : mon ,ton ,son</h5>
            </div>
            <div class="card-body">

                <p class="card-text">Exemple :<br> capuchon : capuch<i style="color:red">on</i><br>
                    mouton : mout<i style="color:red">on</i>
                </p>
                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-primary btn-play"
                            style="width: 50px; height: 50px; border-radius: 50%;">
                        <i class="bi bi-play-fill fs-3"></i>
                    </button>

                    <audio class="d-none">
                        <source src="/uploads/audio/on_mon_ton.mp3" type="audio/mpeg"/>
                    </audio>

                    <small class="text-muted">Écouter la prononciation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
    <div class="card h-100">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title">oin. ien.</h5>
        </div>
        <div class="card-body">


            <p class="card-text">Exemple :<br> Un gardien : Un gard<i style="color:red">ien</i><br>
                Un témoin : Un tém<i style="color:red">oin</i></p>
            <div class="d-flex align-items-center gap-3 mt-3">
                <button class="btn btn-primary btn-play"
                        style="width: 50px; height: 50px; border-radius: 50%;">
                    <i class="bi bi-play-fill fs-3"></i>
                </button>

                <audio class="d-none">
                    <source src="/uploads/audio/Oin-ien.mp3" type="audio/mpeg"/>
                </audio>

                <small class="text-muted">Écouter la prononciation</small>
            </div>
        </div>
    </div></div>


    <div class="col-12 col-md-6 col-lg-4">
    <div class="card h-100">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title">ail. euil. eil. eille.</h5>
        </div>
        <div class="card-body">

            <p class="card-text">Exemple : <br>Le soleil : Le sol<i style="color:red">eil</i><br>
                Le portail : Le port<i style="color:red">ail</i><br>
                Un écureuil : Un écur<i style="color:red">euil</i><br>
                Je me réveille : Je me rév<i style="color:red">eille</i><br>
            </p>
            <div class="d-flex align-items-center gap-3 mt-3">
                <button class="btn btn-primary btn-play"
                        style="width: 50px; height: 50px; border-radius: 50%;">
                    <i class="bi bi-play-fill fs-3"></i>
                </button>

                <audio class="d-none">
                    <source src="/uploads/audio/ail-euil-eil.mp3" type="audio/mpeg"/>
                </audio>

                <small class="text-muted">Écouter la prononciation</small>
            </div>
        </div>
    </div></div>

    <div class="col-12 col-md-6 col-lg-4">
     <div class="card h-100">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title">our. oir. eur.</h5>
        </div>
        <div class="card-body">

            <p class="card-text">Exemple :<br> Bonsoir : Bons<i style="color:green">oir</i><br>
                Bonjour : Bonj<i style="color:green">our</i><br>
                le facteur : Le fact<i style="color:green">eur</i><br>
            </p>
            <div class="d-flex align-items-center gap-3 mt-3">
                <button class="btn btn-primary btn-play"
                        style="width: 50px; height: 50px; border-radius: 50%;">
                    <i class="bi bi-play-fill fs-3"></i>
                </button>

                <audio class="d-none">
                    <source src="/uploads/audio/our-our-eur.mp3" type="audio/mpeg"/>
                </audio>

                <small class="text-muted">Écouter la prononciation</small>
            </div>
        </div>
     </div>
    </div>

</div>
<div th:replace="~{fragments/back-to-top :: backToTop}"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/audio.js"></script>
</body>
</html>