<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supports de Cours</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <h2 class="mb-4">📚 Supports de Cours</h2>
    <p class="lead mb-5">Choisissez une leçon pour voir son contenu détaillé :</p>
    <div class="row g-4">

        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">l'adjectif</h5>
                    <a th:href="@{/adjectif}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">les pronoms</h5>
                    <a th:href="@{/pronoms}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">l'impératif</h5>
                    <a th:href="@{/imperatif}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">le passé composé</h5>
                    <a th:href="@{/passecompse}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Les verbes réguliers</h5>
                    <a th:href="@{/verbesreguliers}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Le futur simple</h5>
                    <a th:href="@{/futursimple}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Les expressions de temps</h5>
                    <a th:href="@{/expressionstemps}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Les adjectifs démonstratifs</h5>
                    <a th:href="@{/adjectifsdemonstratifs}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Les Auxiliaires</h5>
                    <a th:href="@{/auxiliaires}" class="btn btn-primary">voir la leçon</a>
                </div>
            </div>
        </div>

    </div>
  <br>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>